<div class="nav-header">
  <div class="header-logo">
    <img class="logo-img" src="/static/name-logo.png" alt="" />
  </div>
  <div class="nav-buttons">
    <button class="nav-button <%= locals.currentRoute === '/product' ? 'active' : '' %>" onclick="window.location.href='/product'">
        <i class='action-button bx bx-cart-add'></i>
        <span>Buy Products</span>
    </button>

    <button class="nav-button <%= locals.currentRoute === '/add-product' ? 'active' : '' %>" onclick="window.location.href='/add-product'">
        <i class='action-button bx bx-dollar'></i>
        <span>Sell Products</span>
    </button>

    <button class="nav-button <%= locals.currentRoute === '/order' ? 'active' : '' %>" onclick="window.location.href='/order'">
        <i class='action-button bx bx-cart'></i>
        <span>View Cart</span>
    </button>
    <button class="nav-button <%= locals.currentRoute === '/history/sales' ? 'active' : '' %>" onclick="window.location.href='/history/sales'">
        <i class='action-button bx bx-bar-chart'></i>
        <span>Sales History</span>
    </button>
    <button class="nav-button <%= locals.currentRoute === '/history/purchase' ? 'active' : '' %>" onclick="window.location.href='/history/purchase'">
      <i class='action-button bx bx-purchase-tag' ></i>
      <span>Purchase History</span>
    </button>
  </div>
</div>
<div class="nav-footer">
  <button class="nav-button <%= locals.currentRoute === '/profile' ? 'active' : '' %>" onclick="window.location.href='/profile'">
      <i class='action-button bx bx-cog'></i> Settings
  </button>
  <button class="nav-button" onclick="window.location.href='/api/logout'">
      <i class='action-button bx bx-exit'></i> Log Out
  </button>
</div>
