<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaveBite</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/product/view-product.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="side-nav">

        </div>
        <div class="main-content">
            <div class="order-header">
            </div>
            <div class="order-body">
                <div class="item-view">
                    <img class="product-thumbnail" src="<%= product.image %>" alt="<%= product.name %>">
                </div>
                <div class="order-detail-view">
                    <div class="order-detail-card">
                        <div class="order-detail-header">
                            <div class="product-detail">
                                <div class="product-category"><%= product.category %></div>
                                <div class="product-title"><%= product.name %></div>
                                <div class="product-price">₱<%= product.price %></div>
                                <div class="description-text">Quantity: <%= product.quantity %></div>
                                <input type="text" style="display: none;" id="product.id" value="<%= product.productId %>">
                            </div>
                        </div>
                        <div class="description-detail">
                            <div class="description-label">Description</div>
                            <div class="description-text"><%= product.description %></div>
                        </div>
                        <hr class="line-spacer">
                        <div class="actions">
                            <button class="solid-button">Add to Cart</button>
                            <button class="hollow-button">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>